<div id="inicio">
  <ng-container *ngIf="!usuarioAutenticado">
    <app-barra-titulo
    (loginSuccess)="onLoginSuccess($event)"></app-barra-titulo>
  </ng-container>

  <ng-container *ngIf="usuarioAutenticado">

    <ng-container *ngIf="usuario?.rol === 'usuario'">
      <app-barra1 
        [usuario]="usuario"
        (promocionesClicked)="mostrarPromociones()" 
        (principalClicked)="mostrarpaginaprincipal()"
        (viajesClicked)="mostrarViajes()"
        (loginSuccess)="onLoginSuccess($event)"
        (cerrarSesionClicked)="cerrarSesion()">

      </app-barra1>
    </ng-container>

    <ng-container *ngIf="usuario?.rol === 'admin'">
      <app-barra-admin 
        [usuario]="usuario"
        (principalClicked)="mostrarpaginaprincipal()"
        (mostrarusuariosClicked)="mostrarUsuariosClicked()"
        (mostrarAviajesClicked)="mostrarAdminViajes()"
        (mostrarViajesClicked)="mostrarViajes()"
        (onloginSuccess)="onLoginSuccess($event)"
        (cerrarSesionClicked)="cerrarSesion()">
      </app-barra-admin>
    </ng-container>

  </ng-container>
</div>



<router-outlet></router-outlet>

<app-clogin-modal (loginSuccess)="onLoginSuccess($event)"></app-clogin-modal>
<app-cregistro-modal></app-cregistro-modal>

<ng-container *ngIf="!mostrarSoloPromociones && paginaprincipal && !mostrarusuarios && !mostrarviajes">
    <app-carrusel></app-carrusel>
    <div class="espacio-degradado"></div>
    <div id="galeria">
      <app-cgaleria></app-cgaleria>
    </div>
    <div class="espacio-degradado"></div> 

</ng-container>

<ng-container *ngIf="mostrarSoloPromociones">
    <app-cpromociones></app-cpromociones>
</ng-container>

<ng-container *ngIf="mostrarusuarios">
  <app-admin-usuarios></app-admin-usuarios>
</ng-container>

<ng-container *ngIf="mostrarviajes">
  <app-cviajes></app-cviajes>
</ng-container>

<ng-container *ngIf="mostrarGestionarViajes">
  <app-admin-viajes></app-admin-viajes>
</ng-container>

<div class="espacio-degradado"></div>
<div id="contactanos">
  <app-ccontacto></app-ccontacto>
</div>








