.relative {
  position: relative;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 180px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 1000;
}

.navbar {
  overflow: visible !important;
}

.nav-link.cursor-pointer {
  cursor: pointer;
  color: #0d6efd; /* color azul típico de links */
  text-decoration: underline;
}

.nav-link.cursor-pointer:hover {
  color: #0a58ca; /* color más oscuro al pasar mouse */
  text-decoration: none;
}


.submenu-item {
  display: block;
  padding: 10px 15px;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

.submenu-item:hover {
  background-color: #f0f0f0;
}
